@using Models
@model WebApp.Models.HomeViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

@section scripts {
    <style>
        .header {
            font-weight: bold;
        }
        .jumbotron {
            background-color: honeydew;
            padding: 15px;
        }
        .plant-links {

        }

        .plant-links > button {
        }
    </style>
}

<h1>Welcome to your dashboard!</h1>
<h3>@( ViewBag.FirstName ?? "Test" )</h3>

<div class="jumbotron">
    <div class="container container-fluid">
        <div class="row" id="plant-list-header">
            <div class="col-12">
                <h4>Your plants:</h4>
            </div>
        </div>
        <div>
            @Html.Partial("PlantListPartial", Model.Plants)
        </div>
    </div>
</div>