@using Models
@model WebApp.Models.HomeViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

@section scripts {
    <style>
        .header {
            font-weight: bold;
        }
        .jumbotron {
            background-color: honeydew;
            padding: 15px;
        }
        .plant-links {
            display: flex;
            flex-direction: row;
            -o-justify-content: space-around;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            -ms-align-items: center;
            -o-align-items: center;
            -webkit-align-items: center;
            align-items: center;
            margin: 10px 0;
            padding-bottom: 10px;
        }

        .plant-links > button {
            max-height: 35px;
        }
    </style>
}

<h1>Welcome to your dashboard!</h1>
<h3>@( ViewBag.FirstName ?? "Test" )</h3>

<div class="jumbotron">
    <div class="container container-fluid">
        <div class="row" id="plant-list-header">
            <div class="col-12">
                <h4>Your plants:</h4>
            </div>
        </div>
        @Html.Partial("PlantListPartial", Model.Plants)
    </div>
</div>