@using Models
@model List<Models.Plant>
@{

}

<div class="row">
    <div class="col-3 header" id="plant-name-header">Name</div>
    <div class="col-3 header" id="plant-sunlight-header">Sunlight</div>
    <div class="col-3 header" id="plant-moisture-header">Moisture</div>
    <div class="col-3"></div>
</div>

@foreach (var p in Model)
{
    <div class="row">
        <div class="plant-col plant-name col-3">
            @p.Nickname
        </div>
        <div class="plant-col plant-sunlight col-3">
            @p.CurrentLight
        </div>
        <div class="plant-col plant-moisture col-3">
            @p.CurrentWater
        </div>
        <div class="plant-links col-3">
            <a href="~/plant/edit/@p.Id"><button class="button btn btn-outline-info btn-sm">Edit</button></a>
            <a href="~/plant/delete/@p.Id"><button class="button btn btn-outline-danger btn-sm">Delete</button></a>
        </div>
    </div>
}