
@{
    ViewBag.Title = "Register a Hub";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/hub">My Hubs</a>
        </li>
        <li class="breadcrumb-item active">
            Register a Hub
        </li>
    </ol>
</nav>

<div class="container pt-5">
    <h2>Register a Hub</h2>
    <p>Follow these simple steps to register a hub to your account.</p>
    <hr/>
    <div class="row">
        <div class="col-12">
            <p>1. <a href="~/Content/HubConnect.zip">Download</a> the HubConnect utility to your PC.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>2. Unzip and run the utility</p>
        </div>
        <div class="col-md-6">
            [Image of utility here]
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>3. Power on or reboot your Hub, then click the 'Scan' button.</p>
        </div>
        <div class="col-md-6 row">
            <div class="col-md-6">
                [Image of Hub]
            </div>
            <div class="col-md-6">
                [Image of Scan button]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>4. Select the Hub from the list.</p>
        </div>
        <div class="col-md-6">
            [Image of Hub list]
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>5. Enter your email, Wi-Fi network name, and Wi-Fi network password.</p>
        </div>
        <div class="col-md-6">
            [Image of sample data]
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>6. Click the 'Submit' button.</p>
        </div>
        <div class="col-md-6">
            [Image of Submit button]
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>7. If you see the <span class="text-success">Sent!</span> message, you're done!</p>
        </div>
        <div class="col-md-6">
            [Image of Sent! message]
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>If you did not see the <span class="text-success">Sent!</span> message, repeat steps 3 - 6.</p>
        </div>
    </div>
</div>