
@{
    ViewBag.Title = "Register a Hub";
    var downloadUrl = "https://github.com/andyhorn/HubConnect_Hub/raw/master/HubConnect.zip";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/hub">My Hubs</a>
        </li>
        <li class="breadcrumb-item active">
            Register a Hub
        </li>
    </ol>
</nav>

<div class="container pt-5">
    <h2>Register a Hub</h2>
    <p>Follow these simple steps to register a hub to your account.</p>
    <hr/>
    <div class="row">
        <div class="col-12">
            <p>1. <a href="https://github.com/andyhorn/HubConnect_Hub/raw/master/HubConnect.zip">Download</a> the HubConnect utility to your PC.</p>
        </div>
    </div>
    <div class="row mb-3 mb-md-5">
        <div class="col-md-6">
            <p>2. Unzip and run the utility</p>
        </div>
        <div class="col-md-6 row justify-content-center">
            <img src="~/Content/hub/hub_main.jpg" alt="HubConnect Utility Program" class="img-thumbnail" />
        </div>
    </div>
    <div class="row mb-3 mb-md-5">
        <div class="col-md-6">
            <p>3. Power on or reboot your Hub, then click the 'Scan' button.</p>
        </div>
        <div class="col-md-6 row justify-content-center">
            <img src="~/Content/hub/hub_scan.png" alt="HubConnect Utility with Scan button highlighted" class="img-thumbnail" />
        </div>
    </div>
    <div class="row mb-3 mb-md-5">
        <div class="col-md-6">
            <p>4. Select the Hub from the list.</p>
        </div>
        <div class="col-md-6 row justify-content-center">
            <img src="~/Content/hub/hub_device.jpg" alt="HubConnect Utility with device selected in dropdown box" class="img-thumbnail" />
        </div>
    </div>
    <div class="row align-items-center mb-3 mb-md-5">
        <div class="col-md-6">
            <div class="row">
                <p>5. Enter your email, Wi-Fi network name, and Wi-Fi network password.</p>
            </div>
            <div class="row">
                <p>6. Click the 'Submit' button.</p>
            </div>
            <div class="row">
                <p>7. If you see the <span class="text-success">Sent!</span> message, you're done!</p>
            </div>
        </div>
        <div class="col-md-6 row justify-content-center">
            <img src="~/Content/hub/hub_sent.jpg" alt="HubConnect Utility with filled out data and a success message" class="img-thumbnail" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>If you did not see the <span class="text-success">Sent!</span> message, repeat steps 3 - 6.</p>
        </div>
    </div>
</div>