.dl-horizontal dt {
    white-space: normal;
}

body {
    padding-top: 65px;
    font-size: 1.2em;
}

input, select {
    max-width: 360px;
}

.pointer:hover {
    cursor: pointer;
}

.navbar-brand {
    font-family: "Chewy", cursive;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6, th, input, select {
    font-family: "Roboto Slab", serif;
}

a, p, span, li, td {
    font-family: "PT Sans", sans-serif;
}